<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @purchasing.date %>
<button class="btn-group btn-group-sm" aria-label="Delete">
  <%= link_to 'Edit', edit_purchasing_path(@purchasing) %>
</button>
</p>

<table class="table">
  <thead>
    <tr>
      <th>Recipe Name</th>
      <th>Production Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchasing.recipepurchasings.each do |r| %>
    <tr>
      <td>
        <button class="btn-group btn-group-sm" aria-label="Delete">
          <%= link_to 'Delete', purchasing_recipepurchasing_path(@purchasing, r), method: :delete, data: { confirm: 'Are you sure?' } %>
        </button>
        <%= r.recipe.name %>
      </td>
      <td><%= r.production %>
        <button class="btn-group btn-group-sm" aria-label="Delete">
          <%= link_to 'Edit', edit_purchasing_recipepurchasing_path(@purchasing, r) %>
        </button>
      </td>
      <td>
        <button class="btn-group btn-group-sm" aria-label="Delete">
          <%= link_to 'Show recipe', recipe_path(r.recipe) %>
        </button>
      </td>
    </tr>

  </tbody>
  <% end %>

  <button type="button" class="btn btn-info">Submit Order</button>
  <hr>

  </table>

  <button type="button" class="btn btn-warning">
    <%= link_to 'Add new item', new_purchasing_recipepurchasing_path(@purchasing) %>
  </button>
  <button type="button" >
    <%= link_to 'Back', purchasings_path %>
  </button>
