<div class="panel panel-default">
  <div class="panel-heading">
    <strong>I am purchasing Name:</strong>
    <%= @recipe.name %> |
  
  <table class="table">
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Amount</th>
        <th>Unit</th>
        <th>Yield</th>
        <th>Raw Amount</th>
        <th>Total Raw Amount</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @recipe.recipeitems.each do |r| %>
      <tr>
        <td><%= r.item.name %></td>
        <td><%= r.amount %></td>
        <td><%= r.unit %></td>
        <td><%= r.item.yield %></td>
        <td><%= r.amount/r.item.yield %></td>
        <td><%= (r.amount/r.item.yield)*QTY %></td>

        <br>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
  <button class="btn-group btn-group-sm" aria-label="Delete">
    <%= link_to 'Add new item', new_recipe_recipeitem_path(@recipe) %>
  </button>
  <hr>
  <ul class="nav nav-pills">
    <li role="presentation" class="active">
      <%= link_to 'Back', recipes_path %>
    </li>
    <li role="presentation" >
      <%= link_to 'See all items', items_path %>
    </li>
  </ul>
