<%= form_for [@purchasing, @recipepurchasing] do |f| %>
  <% if @recipepurchasing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipepurchasing.errors.count, "error") %> prohibited this recipepurchasing from being saved:</h2>

      <ul>
      <% @recipepurchasing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :recipe %><br>
    <%= f.collection_select(:recipe_id, @recipes, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :production %><br>
    <%= f.number_field :production %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
