<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Name:</strong>
    <%= @recipe.name %> |
    <button class="btn-group btn-group-sm" aria-label="Delete">
      <%= link_to 'Edit', edit_recipe_path(@recipe) %>
    </button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Amount</th>
        <th>Unit</th>
        <th>Yield</th>
        <% if @is_buyer %>
        <th>Price</th>
        <% else %>
        <th>Calorie</th>
        <% end %>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @recipe.recipeitems.each do |r| %>
      <tr>
        <td>
          <button class="btn-group btn-group-sm" aria-label="Delete">
            <%= link_to 'Delete', recipe_recipeitem_path(@recipe, r), method: :delete, data: { confirm: 'Are you sure?' } %>
          </button>
          <%= r.item.name %>
        </td>
        <td><%= r.amount %>
          <button class="btn-group btn-group-sm" aria-label="Delete">
            <%= link_to 'Edit', edit_recipe_recipeitem_path(@recipe, r) %>
          </button>
        </td>
        <td><%= r.unit %></td>
        <td><%= r.item.yield %></td>
        <!-- <td><%= @is_buyer %>??</td> -->

        <% if @is_buyer %>
          <td><%= r.item.price %></td>
        <% else %>
          <td><%= r.item.calorie %></td>
        <% end %>
        <br>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
  <button class="btn-group btn-group-sm" aria-label="Delete">
    <%= link_to 'Add new item', new_recipe_recipeitem_path(@recipe) %>
  </button>
  <hr>
  <ul class="nav nav-pills">
    <li role="presentation" class="active">
      <%= link_to 'Back', recipes_path %>
    </li>
    <li role="presentation" >
      <%= link_to 'See all items', items_path %>
    </li>
  </ul>
