<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

  <title>FoodProduction</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice %>
  <p class="alert alert-success">
  <%= notice %>
  </p>
<% end %>

<% if alert %>
  <p class="alert alert-danger">
      <%= alert %>
  </p>
<% end %>

<nav class= "navbar navbar-inverse">
  <div class="navbar-text navbar-left">
    <button class="btn-group btn-group-sm" aria-label="Delete">
      <%= link_to 'See all items', items_path %>
    </button>
    <button class="btn-group btn-group-sm" aria-label="Delete">
      <%= link_to 'See all recipes', recipes_path %>
    </button>
    <button class="btn-group btn-group-sm" aria-label="Delete">
      <%= link_to 'See all Purchase Oreders', purchasings_path %>
    </button>
  </div>

  <div class="navbar-text navbar-right">
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
    <button class="btn-group btn-group-sm" aria-label="Delete">
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
    </button>
    <button class="btn-group btn-group-sm" aria-label="Delete">
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
    </button>
      <% else %>
    <button class="btn-group btn-group-sm" aria-label="Delete">
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %>
    </button>
    <button class="btn-group btn-group-sm" aria-label="Delete">
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %> <% end %>
    </button>
  </div>
</nav>

<%= yield %>

</body>
</html>
