<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

  <title>FoodProduction</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<% if notice %>
  <p class="alert alert-success">
  <%= notice %>
  </p>
<% end %>

<% if alert %>
  <p class="alert alert-danger">
      <%= alert %>
  </p>
<% end %>


<div class="container navbar-left col-sm-3">
<div class="row">
  <div>
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav navbar-inverse">
            <li>
              <% if user_signed_in? %>
              <button type="button" class="btn btn-outline-primary">
                <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
              </button>
              <button type="button" class="btn btn-outline-primary">
                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
              </button>
              <hr>
              Logged in as <strong><%= current_user.email %></strong>

                <% else %>
              <button <button type="button" class="btn btn-primary btn-lg btn-block">
                <%= link_to "Sign up for Free", new_user_registration_path, :class => 'navbar-link' %>
              </button>
                <br>
              <button <button type="button" class="btn btn-primary btn-lg btn-block">
                <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %> <% end %>
              </button>
              <p>
              </p>
              <hr>
            </li>
            <li class="whitetext">
              <%= link_to 'My Ingredients List', items_path %>
            </li>
            <li class="whitetext">
              <%= link_to 'My Recipes', recipes_path %>

            </li>
            <li class="whitetext">
              <%= link_to 'Purchase Orders', purchasings_path, class:'whitetext' %>
            </li>
            <li class="whitetext">
              <a href="#">My Calorie Labels</a>
            </li>
            <li class="whitetext">
              <a href="#">Buy a new recipe</a>
            </li>
            <li class="whitetext">
              <a href="#">Schedule Staff</a>
            </li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
</div>
</div>

<div class="col-sm-9">
  <%= yield %>
</div>
</body>
</html>
